.active-word {
  background-color: #fdd7f4;
}
.audio_ui {
  width: 100%;
  border-radius: 0px;
  background-color: #cccccc;
}
.audio_ui::-webkit-media-controls-panel {
  background-color: #cccccc;
}
.highlight {
  position: absolute;
  transition: left 0.2s, top 0.2s;
  background-color: #fdd7f4;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
}
